<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Admission : Forget Password</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/online-admission-style.css">
    <link rel="stylesheet" type="text/css" href="css/online-admission-theme1.css">
</head>
<body>
<div class="form-body" ng-app="myApp" ng-controller="forgotPasswordServicesCtrl" ng-init="init()" ng-keypress="($event.which === 13)?forgotPasswordClick():0">
    <!-- <div class="form-body"> -->
        <div class="website-logo" >
            <center><a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo.png" alt="">
                </div>
                
            </a></center>
            <br/><br/>
                 <div >
                    <h4 style="color: white;">THAKUR SEN NEGI GOVERNMENT COLLEGE</h4>
                </div>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Password Reset</h3>
                        <p>To reset your password, enter the email address you use to sign in to form</p>
                        <form name="form">
                            <input class="form-control" type="text" name="inputForgotEmail" ng-model="inputForgotEmail" id="inputForgotEmail" placeholder="E-mail Address"  ng-required="required" />
                            
                            <div class="form-button full-width">
<!--                                <button id="submit" type="submit" class="ibtn btn-forget">Send Reset Link</button>-->
                                <a  id="submit" type="button" ng-click="forgotPassword()" class="ibtn ">Send Reset Link</a>
                                <a href="index.html" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a>
                            </div>
                            
                        </form>
                    </div>
                    <div class="form-sent">
                        <div class="tick-holder">
                            <div class="tick-icon"></div>
                        </div>
                        <h3>Password link sent</h3>
                        <p>Please check your inbox</p>
                        <div class="info-holder">
                            <span>Unsure if that email address was correct?</span> <a href="#">We can help</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="assets/angular/angular.min.js"></script>
<script src="assets/angular/ui-bootstrap-tpls-1.0.3.js"></script>
    <!-- toastr -->
<script src="assets/angular/angular-toastr.tpls.js"></script>
<link rel="stylesheet" href="assets/angular/angular-toastr.css" />

<script src="assets/angular/angularjs/app.js"></script>
<!-- app.js -->

<script src="assets/angular/angularjs/controllers/forgot_password.js"></script>
</body>
</html>