<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Admission : Registration</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/online-admission-style.css">
    <link rel="stylesheet" type="text/css" href="css/online-admission-theme1.css">
</head>
<body>
    <div class="form-body" ng-app="myApp" ng-controller="registerServicesCtrl" ng-init="init()" ng-keypress="($event.which === 13)?loginService():0">
        <div class="website-logo" >
            <center><a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo.png" alt="" style="height:50%;width: 50%;">
                </div>
                
            </a></center>
            <br/><br/>
                 <div >
                    <h4 style="color: white;">THAKUR SEN NEGI GOVERNMENT COLLEGE</h4>
                </div>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Online Admission</h3>
                        <!-- <p>Access to the most powerfull tool in the entire design and web industry.</p> -->
                        <div class="page-links">
                            <a href="index.html">Login</a><a href="register.html" class="active">Register</a>
                        </div>
                        <form name="form">
                            <select class="form-control" id="academicYear" name="academicYear" ng-model="academicYear" ng-change="getFormFees()">
                                <option value="" selected="selected">Academic Year</option>
                                <option ng-repeat=" year in years" value="{{year}}">{{year}}</option>
                                
                            </select>

                            
                            <select class="form-control" id="courseName" name="courseName" ng-model="courseName" ng-change="getFormFees()">
                                <option value="" selected="selected">Select Course</option>
                                <option ng-repeat=" coursename in courseNameArray " value="{{coursename.course_name}}">{{coursename.course_name}}</option>
                                
                            </select>

                            <select class="form-control" name="courseYear" ng-model="courseYear" id="courseYear" ng-change="getFormFees()" required>
                                <option value="">Select Year</option>
                                <option value="First Year">First Year</option>
                                <option value="Second Year">Second Year</option>
                                <option value="Third Year">Third Year</option>
                            </select>
                            
                            <!-- <input class="form-control" type="text" name="studName" ng-model="studName"  id="studName" placeholder="Full Name"  ng-required="required" />
                            <input class="form-control" type="text" name="studName" ng-model="studName"  id="studName" placeholder="Full Name"  ng-required="required" />
                            <input class="form-control" type="text" name="studName" ng-model="studName"  id="studName" placeholder="Full Name"  ng-required="required" /> -->
                            
                            <div class="row" style="margin-left: -16px;">
                                
                                <div class=" col-lg-4" >
                                    <input style="width: 130%;  padding-left: 10px; " type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="firstName" ng-required="required"/>
                                </div>
                                <div class=" col-lg-4">
                                    <input style="width: 130%;  padding-left: 10px;" type="text" class="form-control" id="middleName" placeholder="Middle Name" ng-model="middleName" ng-required="required"/>
                                </div>
                                <div class=" col-lg-4">
                                    <input style="width: 110%;  padding-left: 10px;" type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="lastName" ng-required="required"/>
                                </div>
                            </div>
                            <input class="form-control" type="text" name="studEmail" ng-model="studEmail" id="studEmail" placeholder="E-mail Address" ng-required="required" />
                            
                            <input class="form-control" type="text" name="studMobile" ng-model="studMobile" id="studMobile" placeholder="Mobile Number" maxlength="10" ng-required="required" />
                            
                            <input class="form-control" type="password" name="studPassword" ng-model="studPassword" placeholder="Password" id="studPassword" required ng-minlength="6" ng-maxlength="25" ng-required="required"/>
                            
                            <input class="form-control" type="password" name="studConfPassword" placeholder="Confirm Password" ng-model="studConfPassword"  id="studConfPassword" required ng-minlength="6" ng-maxlength="25"   ng-required="required"/>
                            
                            
                            <label><b>Note* : Filling this form does not mean your admission is confirmed.</b></label>
                           
                            <div class="form-button">
                                <a  id="submit" type="button" ng-click="registerService()" class="ibtn">Register</a>
                            </div>
                            
                        </form>
                        <!-- <div class="other-links">
                            <span>Or register with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular/ui-bootstrap-tpls-1.0.3.js"></script>
    <!-- toastr -->
    <script src="assets/angular/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="assets/angular/angular-toastr.css" />

    <script src="assets/angular/angularjs/app.js"></script>
    <!-- app.js -->

    <script src="assets/angular/angularjs/controllers/registration.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>
</html>