<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="icon" type="image/png" href="assets/images/favicon.png?=2">
	<title> Forgot Password Screen</title>
	<link rel="stylesheet" href="assets/styles/style.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="assets/plugin/waves/waves.min.css">

</head>

<body>
	
	<div id="single-wrapper" ng-app="myApp" ng-controller="forgotPasswordServicesCtrl" ng-init="init()" ng-keypress="($event.which === 13)?forgotPasswordClick():0">
		<form action="#" class="frm-single">
				<div class="inside">
					<div class="title"><!-- <strong>INOXPA</strong> -->
						<img src="assets/images/logo.png" alt="Admin" title=" Password Recovery">
						</div>
					<!-- /.title -->
					<div class="frm-title">Forgot Password</div>
					<!-- /.frm-title -->
					<p class="text-center">Enter your email address and we'll send you an email with instructions to reset your password.</p>
					<div class="frm-input"><input type="email" placeholder="Enter Email" class="frm-inp" ng-model="inputForgotEmail" id="inputForgotEmail"><i class="fa fa-envelope frm-ico"></i></div>
					<!-- /.frm-input -->
					<a class="frm-submit" ng-click="forgotPasswordClick()" ng-disabled="disabledSentForgotEmailButton" style="cursor: pointer;">Send Email<i class="fa fa-arrow-circle-right"></i></a>
					
					<a href="index.html" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a>
					<div class="frm-footer"> © <script type="text/JavaScript"> document.write(new Date().getFullYear()); </script>.</div>
					<!-- /.footer -->
				</div>
				<!-- .inside -->
		</form>
		<!-- /.frm-single -->
</div>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="assets/angular/angular.min.js"></script>
	<script src="assets/angular/ui-bootstrap-tpls-1.0.3.js"></script>
		<!-- toastr -->
	<script src="assets/angular/angular-toastr.tpls.js"></script>
	<link rel="stylesheet" href="assets/angular/angular-toastr.css" />

	<script src="assets/angular/angularjs/app.js"></script>
	<!-- app.js -->
	<script src="assets/angular/angularjs/controllers/forgot_password.js"></script>
</body>
</html>