<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="icon" type="image/png" href="assets/images/favicon.png?=2">
	<title>Change Password Screen</title>
	<link rel="stylesheet" href="assets/styles/style.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="assets/plugin/waves/waves.min.css">

</head>

<body>
	<div class="form-body" ng-app="myApp" ng-controller="changePasswordServicesCtrl" ng-init="init()" ng-keypress="($event.which === 13)?loginService():0">
		<div class="main-menu">
			<header class="header">
				<a href="dashboard.html" class="logo">
					<!-- <i class="ico ti-rocket"></i>SpaceX -->
					<img src="assets/images/logo.png?=2" alt="Online Admission" title="Online Admission">
				</a>
				<button type="button" class="button-close fa fa-times js__menu_close"></button>
			</header>
			<!-- /.header -->
			<div class="content">

				<div class="navigation">
					<h5 class="title">Navigation</h5>
					<!-- /.title -->
					<ul class="menu js__accordion">
						<li>
							<a class="waves-effect" href="dashboard.html"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
						</li>
						<li>
							<a class="waves-effect" href="edit-profile.html"><i class="menu-icon fa fa-edit"></i><span>Edit Profile</span></a>
						</li>
						<!-- <li>
							<a class="waves-effect" href="#"><i class="menu-icon fa fa-book"></i><span>Course Info</span></a>
						</li> -->
						<!-- <li>
							<a class="waves-effect parent-item js__control" href="#"><i
									class="menu-icon fa fa-credit-card"></i><span>Download Receipt</span><span
									class="menu-arrow fa fa-angle-down"></span></a>
							<ul class="sub-menu js__content">
								<li><a href="#">Registration</a></li>
								<li><a href="#">Admission</a></li>
							</ul>
						</li> -->
						<li>
							<a class="waves-effect" href="payment-details.html"><i class="menu-icon fa fa-book"></i><span>Payment Details</span></a>
						</li>
					</ul>
					<!-- /.menu js__accordion -->
				</div>
				<!-- /.navigation -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.main-menu -->

		<div class="fixed-navbar">
			<div class="pull-left">
				<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
				<h1 class="page-title">Thakur Sen Negi Government College - User Dashboard</h1>
				<!-- /.page-title -->
			</div>
			<!-- /.pull-left -->
			<div class="pull-right">
				<!-- /.ico-item -->
				<!-- <a href="#" class="ico-item ti-email notice-alarm js__toggle_open" data-target="#message-popup"></a> -->
				<!-- <a href="#" class="ico-item ti-bell notice-alarm js__toggle_open" data-target="#notification-popup"></a> -->
				<div class="ico-item">
					<i class="ti-user" style="color:black;"></i> 
					<ul class="sub-ico-item">
						
						<li><a  href="change-password.html">Change Password</a></li>
						<li><a  ng-click="logOut()" id="logout">Log Out</a></li>
					</ul>
					<!-- /.sub-ico-item -->
				</div>
			</div>
			<!-- /.pull-right -->
		</div>

		<div id="single-wrapper">
			<form action="#" class="frm-single">
				<div class="inside">
					<div class="title"><!-- <strong>INOXPA</strong> -->
							<img src="assets/images/logo.png" alt="Thakur Sen Negi Government College" title="Thakur Sen Negi Government College Password Recovery">
						</div>
					<!-- /.title -->
					<div class="frm-title">Change Password</div>
					<!-- /.frm-title -->
					<!-- <p class="text-center">Enter your email address and we'll send you an email with instructions to reset your password.</p> -->
					<div class="frm-input"><input type="password" placeholder="Old Password" ng-model="oldPass"  name= "oldPass"  id="oldPass" class="frm-inp margin-bottom-20"><i class="fa fa-lock frm-ico"></i></div>
					<div class="frm-input"><input type="password" placeholder="New Password"  ng-model="newPass"  name= "newPass"  id="newPass" class="frm-inp margin-bottom-20"><i class="fa fa-lock frm-ico"></i></div>
					<div class="frm-input"><input type="password" placeholder="Confirm Password" ng-model="confPass"  name= "confPass"  id="cofPass" class="frm-inp margin-bottom-20"><i class="fa fa-lock frm-ico"></i></div>
					<!-- /.frm-input -->
					<button type="button"  class="btn btn-primary btn-lg waves-effect waves-light" ng-click="changePassword()">Change Password<i class="fa fa-arrow-circle-right"></i></button>
					<!-- <a href="index.html" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a> -->
					<div class="frm-footer">Thakur Sen Negi Government College © <script type="text/JavaScript"> document.write(new Date().getFullYear()); </script>.</div>
					<!-- /.footer -->
				</div>
				<!-- .inside -->
			</form>
			<!-- /.frm-single -->
		</div><!--/#single-wrapper -->
	</div>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js"></script>
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>
	<script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular/ui-bootstrap-tpls-1.0.3.js"></script>
    <!-- toastr -->
    <script src="assets/angular/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="assets/angular/angular-toastr.css" />

	<script src="assets/angular/angularjs/app.js"></script>
	<script src="assets/angular/angularjs/controllers/change_password.js"></script>
</body>
</html>