<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="icon" type="image/png" href="assets/images/favicon.png?=2">
	<title>Change Password Screen</title>
	<!-- Main Styles -->
    <link rel="stylesheet" href="assets/styles/style.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="assets/fonts/themify-icons/themify-icons.css">
    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <!-- Waves Effect -->
    <link rel="stylesheet" href="assets/plugin/waves/waves.min.css">
    <!-- Data Tables -->
    <link rel="stylesheet" href="assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">

</head>

<body>
	<div class="form-body" ng-app="myApp" ng-controller="changePasswordServicesCtrl" ng-init="init()" ng-keypress="($event.which === 13)?loginService():0">
		<header id="header">
			<div class="main-menu">
				<header class="header">
					<a href="admin-dashboard.html" class="logo">
						<!-- <i class="ico ti-rocket"></i>SpaceX -->
						<img src="assets/images/logo.png?=2" alt="Online Admission" title="Online Admission">
					</a>
					<button type="button" class="button-close fa fa-times js__menu_close"></button>
				</header>
				<!-- /.header -->
				<div class="content">

					<div class="navigation">
						<h5 class="title">Navigation</h5>
						<!-- /.title -->
						<ul class="menu js__accordion">
							<li>
								<a class="waves-effect" href="dashboard.html"><i
								class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
							</li>
							<li>
								<a class="waves-effect parent-item js__control" href="#"><i
										class="menu-icon fa fa-book"></i><span>Master Entry</span><span
										class="menu-arrow fa fa-angle-down"></span></a>
								<ul class="sub-menu js__content">
									<li><a href="manage-religion.html">Manage Religion</a></li>
									<!-- <li ><a href="manage-caste.html">Manage Caste</a></li> -->
									<li><a href="manage-subject.html">Manage Subjects</a></li>
									
								</ul>
							</li>
							<li>
								<a class="waves-effect parent-item js__control" href="#"><i
								class="menu-icon fa fa-book"></i><span>Course</span><span
								class="menu-arrow fa fa-angle-down"></span></a>
								<ul class="sub-menu js__content">
										<li><a href="manage-courses.html">Manage Courses</a></li>
										<!-- <li><a href="add-courses.html">Add New Courses</a></li> -->
										<li><a href="add-course-fees.html">Manage Course Fees</a></li>
										<li><a href="add-form-fees.html">Set Form Fees</a></li>
									</ul>
							</li>
							<li >
								<a class="waves-effect parent-item js__control" href="#"><i
								class="menu-icon fa fa-user"></i><span>Students</span><span
								class="menu-arrow fa fa-angle-down"></span></a>
								<ul class="sub-menu js__content">
									<li><a href="all-students-list.html">All Students</a></li>
									<li><a href="register-students-list.html">Registered Students</a></li>
									<li><a href="shortlisted-students-list.html">Shortlisted Students</a></li>
									<li><a href="admission-confirmed-students-list.html">Confirmed Addmission Students</a></li>
									
								</ul>
							</li>
							<li>
								<a class="waves-effect" href="#"><i class="menu-icon fa fa-sticky-note"></i><span>Generate
								Receipt</span></a>
							</li>
						</ul>

					</div>
					<!-- /.navigation -->
				</div>
				<!-- /.content -->
			</div>
			<!-- /.main-menu -->

			<div class="fixed-navbar">
				<div class="pull-left">
					<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
					<h1 class="page-title">Thakur Sen Negi Government College - All Students</h1>
					<!-- /.page-title -->
				</div>
				<!-- /.pull-left -->
				<div class="pull-right">
					<div class="ico-item">
						<i class="ti-user"></i>
						<ul class="sub-ico-item">
							<li ><a ng-click="logOut()" id="logout" >Log Out</a></li>
							<!-- <li><a  href="change-password.html">Change Password</a></li> -->
							
						</ul>
						<!-- /.sub-ico-item -->
					</div>
				</div>
				<!-- /.pull-right -->
			</div>
			<!-- /.fixed-navbar -->
		</header>

		<div id="single-wrapper">
			
			<form action="#" class="frm-single">
				<div class="inside">
					<div class="title"><!-- <strong>INOXPA</strong> -->
							<img src="assets/images/logo.png" alt="Thakur Sen Negi Government College" title="Thakur Sen Negi Government College Password Recovery">
						</div>
					<!-- /.title -->
					<div class="frm-title">Change Password</div>
					<!-- /.frm-title -->
					<!-- <p class="text-center">Enter your email address and we'll send you an email with instructions to reset your password.</p> -->
					<div class="frm-input"><input type="password" placeholder="Old Password" ng-model="oldPass"  name= "oldPass"  id="oldPass" class="frm-inp margin-bottom-20"><i class="fa fa-lock frm-ico"></i></div>
					<div class="frm-input"><input type="password" placeholder="New Password"  ng-model="newPass"  name= "newPass"  id="newPass" class="frm-inp margin-bottom-20"><i class="fa fa-lock frm-ico"></i></div>
					<div class="frm-input"><input type="password" placeholder="Confirm Password" ng-model="confPass"  name= "confPass"  id="cofPass" class="frm-inp margin-bottom-20"><i class="fa fa-lock frm-ico"></i></div>
					<!-- /.frm-input -->
					<button type="button"  class="btn btn-primary btn-lg waves-effect waves-light" ng-click="changePassword()">Change Password<i class="fa fa-arrow-circle-right"></i></button>
					<!-- <a href="index.html" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a> -->
					<div class="frm-footer">Thakur Sen Negi Government College <script type="text/JavaScript"> document.write(new Date().getFullYear()); </script>.</div>
					<!-- /.footer -->
				</div>
				<!-- .inside -->
			</form>
			<!-- /.frm-single -->
		</div><!--/#single-wrapper -->
	</div>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/modernizr.min.js"></script>
    <script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/plugin/nprogress/nprogress.js"></script>
    <script src="assets/plugin/sweet-alert/sweetalert.min.js"></script>
    <script src="assets/plugin/waves/waves.min.js"></script>
    <!-- Sparkline Chart -->
    <script src="assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
    <script src="assets/scripts/chart.sparkline.init.min.js"></script>

    <!-- Percent Circle -->
    <script src="assets/plugin/percircle/js/percircle.js"></script>

    <!-- Google Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Chartist Chart -->
    <script src="assets/plugin/chart/chartist/chartist.min.js"></script>
    <script src="assets/scripts/jquery.chartist.init.min.js"></script>
    <!-- Morris Chart -->
    <script src="assets/plugin/chart/morris/morris.js"></script>
    <script src="assets/plugin/chart/morris/raphael-min.js"></script>
    <script src="assets/scripts/chart.morris.init.js"></script>

    <!-- FullCalendar -->
    <script src="assets/plugin/moment/moment.js"></script>
    <script src="assets/plugin/fullcalendar/fullcalendar.min.js"></script>
    <script src="assets/scripts/fullcalendar.init.js"></script>

    <script src="assets/scripts/main.min.js"></script>
    <script src="assets/scripts/main.min.js"></script>
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular/ui-bootstrap-tpls-1.0.3.js"></script>
    <!-- toastr -->
    <script src="assets/angular/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="assets/angular/angular-toastr.css" />

	<script src="assets/angular/angularjs/app.js"></script>
	<script src="assets/angular/angularjs/controllers/change_password.js"></script>
    <!-- app.js -->
</body>
</html>