
<script src="assets/scripts/main.min.js"></script>
<div class="main-menu">
   <header class="header">
      <a href="index.html" class="logo"><!-- <i class="ico ti-rocket"></i>SpaceX -->
         <img src="assets/images/logo.png?=2" alt="Online Admission" title="Online Admission">
      </a>
      <button type="button" class="button-close fa fa-times js__menu_close"></button>
   </header>
   <!-- /.header -->
   <div class="content">

      <div class="navigation">
         <h5 class="title">Navigation</h5>
         <!-- /.title -->
         <ul class="menu js__accordion">
            <li id="admin-dashboard">
               <a class="waves-effect" href="admin-dashboard.html"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
            </li>
            <li>
               <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-user"></i><span>User</span><span class="menu-arrow fa fa-angle-down"></span></a>
               <ul class="sub-menu js__content">
                  <!-- <li><a href="add-user.html">Add Users</a></li> -->
                  <li id="manage-user"><a href="manage-user.html">Manage Users</a></li>
                  <!-- <li id="update-user"><a href="update-user.html">Update Users</a></li> -->
                  <li id="view-request"><a href="view-user-request.html">View Requests</a></li>
               </ul>
               <!-- /.sub-menu js__content -->
            </li>
            <li>
               <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-bag"></i><span>Product</span><span class="menu-arrow fa fa-angle-down"></span></a>
               <ul class="sub-menu js__content">
                  <li id="add-product"><a href="#">Manage Products</a></li>
                  <!-- <li id="view-product"><a href="#">View Products</a></li>
                  <li id="update-product"><a href="#">Update Products</a></li> -->
               </ul>
               <!-- /.sub-menu js__content -->
            </li>
            <li>
               <a class="waves-effect" href="view-user-log.html"><i class="menu-icon ti-files"></i><span>View User Log</span></a>
            </li>

         </ul>

      </div>
      <!-- /.navigation -->
   </div>
   <!-- /.content -->
</div>
<!-- /.main-menu -->

<div class="fixed-navbar">
   <div class="pull-left">
      <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
      <h1 class="page-title">Home</h1>
      <!-- /.page-title -->
   </div>
   <!-- /.pull-left -->
   <div class="pull-right">
      <div class="ico-item">
         <a href="#" class="ico-item ti-search js__toggle_open" data-target="#searchform-header"></a>
         <form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="ti-search button-search" type="submit"></button></form>
         <!-- /.searchform -->
      </div>
      <!-- /.ico-item -->
      <!-- <a href="#" class="ico-item ti-email notice-alarm js__toggle_open" data-target="#message-popup"></a>
         <a href="#" class="ico-item ti-bell notice-alarm js__toggle_open" data-target="#notification-popup"></a> -->
         <div class="ico-item">
            <i class="ti-user"></i>
            <ul class="sub-ico-item">
               <!-- <li><a href="#">Settings</a></li> -->
               <li><a class="js__logout" href="#">Log Out</a></li>
            </ul>
            <!-- /.sub-ico-item -->
         </div>
      </div>
      <!-- /.pull-right -->
   </div>
   <!-- /.fixed-navbar -->