<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="assets/images/favicon.png?=2">
    <title>Thakur Sen Negi Government College Online Admission Login Screen</title>
    <link rel="stylesheet" href="assets/styles/style.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="assets/plugin/waves/waves.min.css">

    <script type="text/javascript">
        function preventBack(){window.history.forward();}
        setTimeout("preventBack()",0);
        window.onunload = function (){null};
    </script>
</head>

<body>
    <div id="single-wrapper" ng-app="myApp" ng-controller="loginServicesCtrl" ng-init="init()" ng-keypress="($event.which === 13)?loginService():0">
       
            <form action="#" class="frm-single">
                <div class="inside">
                    <div class="title">
                        <!-- <strong>Online Admission</strong> -->
                        <img src="assets/images/logo.png?=2" alt="Online Admission" title="Online Admission Admin Login">
                    </div>
                    <!-- /.title -->
                    <div class="frm-title">Login</div>
                    <!-- /.frm-title -->
                    <div class="frm-input"><input type="text" placeholder="Username" name="userName" ng-model="userName" id="userName" class="frm-inp"><i class="fa fa-user frm-ico"></i></div>
                    <!-- /.frm-input -->
                    <div class="frm-input"><input type="password" placeholder="Password"  ng-model="userPassword" name="userPassword" id="userPassword" class="frm-inp"><i class="fa fa-lock frm-ico"></i></div>
                    <!-- /.frm-input -->
                    <div class="clearfix margin-bottom-20">
                        <div class="pull-left">
                            <!-- <div class="checkbox primary"><input type="checkbox" id="rememberme"><label for="rememberme">Remember me</label></div> -->
                            <!-- /.checkbox -->
                        </div>
                        <!-- /.pull-left -->
                        <div class="pull-right"><a href="page-recoverpw.html" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot password?</a></div>
                        <!-- /.pull-right -->
                    </div>
                    <!-- /.clearfix -->
                    <!-- <button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button> -->
                    <a type="submit" ng-click="loginService()"  class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></a>
                    <!-- <div class="row small-spacing">
                    <div class="col-sm-12">
                        <div class="txt-login-with txt-center">or login with</div>					
                    </div>
                    
                    <div class="col-sm-6"><button type="button" class="btn btn-sm btn-icon btn-icon-left btn-social-with-text btn-facebook text-white waves-effect waves-light"><i class="ico fa fa-facebook"></i><span>Facebook</span></button></div>				
                    <div class="col-sm-6"><button type="button" class="btn btn-sm btn-icon btn-icon-left btn-social-with-text btn-google-plus text-white waves-effect waves-light"><i class="ico fa fa-google-plus"></i>Google+</button></div>				
                </div> -->
                    <!-- /.row -->
                    <!-- <a href="page-register.html" class="a-link"><i class="fa fa-key"></i>New to NinjaAdmin? Register.</a> -->
                    <div class="frm-footer">Thakur Sen Negi Government College Online Admission ©
                        <script type="text/JavaScript"> document.write(new Date().getFullYear()); </script>.</div>
                    <!-- /.footer -->
                </div>
                <!-- .inside -->
            </form>
            <!-- /.frm-single -->
       
        <!--/#single-wrapper -->
    </div>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
    <!-- 
		================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/modernizr.min.js"></script>
    <script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugin/nprogress/nprogress.js"></script>
    <script src="assets/plugin/waves/waves.min.js"></script>

    <script src="assets/scripts/main.min.js"></script>
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular/ui-bootstrap-tpls-1.0.3.js"></script>
    <!-- toastr -->
    <script src="assets/angular/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="assets/angular/angular-toastr.css" />

    <script src="assets/angular/angularjs/app.js"></script>
    <!-- app.js -->

    <script src="assets/angular/angularjs/controllers/adminLogin.js"></script>
    
</body>

</html>