
   <div class="main-menu">
      <header class="header">
          <a href="dashboard.html" class="logo">
              <!-- <i class="ico ti-rocket"></i>SpaceX -->
              <img src="assets/images/logo.png?=2" alt="Online Admission" title="Online Admission">
          </a>
          <button type="button" class="button-close fa fa-times js__menu_close"></button>
      </header>
      <!-- /.header -->
      <div class="content">

          <div class="navigation">
              <h5 class="title">Navigation</h5>
              <!-- /.title -->
              <ul class="menu js__accordion">
                  <li class="current">
                      <a class="waves-effect" href="dashboard.html"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
                  </li>
                  <li>
                      <a class="waves-effect" href="edit-profile.html"><i class="menu-icon fa fa-edit"></i><span>Edit Profile</span></a>
                  </li>
                  <!-- <li>
                      <a class="waves-effect" href="#"><i class="menu-icon fa fa-book"></i><span>Course Info</span></a>
                  </li> -->
                  <li>
                      <a class="waves-effect parent-item js__control" href="#"><i
                              class="menu-icon fa fa-credit-card"></i><span>Download Receipt</span><span
                              class="menu-arrow fa fa-angle-down"></span></a>
                      <ul class="sub-menu js__content">
                          <li><a href="#">Registration</a></li>
                          <li><a href="#">Admission</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="waves-effect" href="payment-details.html"><i class="menu-icon fa fa-book"></i><span>Payment Details</span></a>
                  </li>
              </ul>
              <!-- /.menu js__accordion -->
          </div>
          <!-- /.navigation -->
      </div>
      <!-- /.content -->
  </div>
  <!-- /.main-menu -->

  <div class="fixed-navbar">
      <div class="pull-left">
          <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
          <h1 class="page-title">Thakur Sen Negi Government College - User Dashboard</h1>
          <!-- /.page-title -->
      </div>
      <!-- /.pull-left -->
      <div class="pull-right">
          <!-- /.ico-item -->
          <!-- <a href="#" class="ico-item ti-email notice-alarm js__toggle_open" data-target="#message-popup"></a> -->
          <!-- <a href="#" class="ico-item ti-bell notice-alarm js__toggle_open" data-target="#notification-popup"></a> -->
          <div class="ico-item">
              <i class="ti-user"></i> 
              <ul class="sub-ico-item">
                  
                  <li><a  href="change-password.html">Change Password</a></li>
                  <li><a  ng-click="logOut()" id="logout">Log Out</a></li>
              </ul>
              <!-- /.sub-ico-item -->
          </div>
      </div>
      <!-- /.pull-right -->
  </div>
  <!-- /.fixed-navbar -->