<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="assets/images/favicon.png?=2">
    <title>Thakur Sen Negi Government College : Online Admission - User - Payment Details</title>
    <!-- Main Styles -->
    <link rel="stylesheet" href="assets/styles/style.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="assets/fonts/themify-icons/themify-icons.css">
    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <!-- Waves Effect -->
    <link rel="stylesheet" href="assets/plugin/waves/waves.min.css">
    <!-- Data Tables -->
    <link rel="stylesheet" href="assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
    <!-- Datepicker -->
    <link rel="stylesheet" href="assets/plugin/datepicker/css/bootstrap-datepicker.min.css">

    <!-- DateRangepicker -->
    <link rel="stylesheet" href="assets/plugin/daterangepicker/daterangepicker.css">
    <!-- <style>
        #checkPayment .modal-dialog {
            width: 90%;
        }
        
        #addFeesPayment {
            display: none;
        }
    </style> -->
</head>

<body>
    <div class="form-body" ng-app="myApp" ng-controller="paymentDetailsCtrl" ng-init="init()" ng-keypress="($event.which === 13)?loginService():0" >
        <header id="header">
            <div class="main-menu">
                <header class="header">
                    <a href="dashboard.html" class="logo">
                        <!-- <i class="ico ti-rocket"></i>SpaceX -->
                        <img src="assets/images/logo.png?=2" alt="Online Admission" title="Online Admission" style="height:50px;width: 5opx;">
                    </a>
                    <button type="button" class="button-close fa fa-times js__menu_close"></button>
                </header>
                <!-- /.header -->
                <div class="content">

                    <div class="navigation">
                        <h5 class="title">Navigation</h5>
                        <!-- /.title -->
                        <ul class="menu js__accordion">
                            <li>
                                <a class="waves-effect" href="dashboard.html"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
                            </li>
                            <li>
                                <a class="waves-effect" href="edit-profile.html"><i class="menu-icon fa fa-edit"></i><span>Edit Profile</span></a>
                            </li>
                            <!-- <li>
                                <a class="waves-effect" href="#"><i class="menu-icon fa fa-book"></i><span>Course Info</span></a>
                            </li> -->
                            <!-- <li>
                                <a class="waves-effect parent-item js__control" href="#"><i
                                        class="menu-icon fa fa-credit-card"></i><span>Download Receipt</span><span
                                        class="menu-arrow fa fa-angle-down"></span></a>
                                <ul class="sub-menu js__content">
                                    <li><a href="#">Registration</a></li>
                                    <li><a href="#">Admission</a></li>
                                </ul>
                            </li> -->
                            <li class="current">
                                <a class="waves-effect" href="payment-details.html"><i class="menu-icon fa fa-book"></i><span>Payment Details</span></a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.navigation -->
                </div>
                <!-- /.content -->
            </div>
            <!-- /.main-menu -->

            <div class="fixed-navbar">
                <div class="pull-left">
                    <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
                    <h1 class="page-title">Thakur Sen Negi Government College - Payment Details</h1>
                    <!-- /.page-title -->
                </div>
                <!-- /.pull-left -->
                <div class="pull-right">
                    <div class="ico-item">
                        <i class="ti-user" style="color:black;"></i>
                        <ul class="sub-ico-item">
                            <li><a  href="change-password.html">Change Password</a></li>
                            <li><a  ng-click="logOut()" id="logout">Log Out</a></li>
                        </ul>
                        <!-- /.sub-ico-item -->
                    </div>
                </div>
                <!-- /.pull-right -->
            </div>
            <!-- /.fixed-navbar -->
        </header>


        <div id="wrapper">
            <div class="main-content">

                <div class="row small-spacing">
                    <section class="content">
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Payment List</h3>
                                        <!-- <h3 class="box-title pull-right"><b>Invoice No :&nbsp;</b><span</span></h3> -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <input type="text" ng-model="Search" name="inputSearch" class="form-control pull-right" placeholder="Search By Amount / Date (Y-M-D) / Comment" >
                                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>

                                        <!-- ********************** Payment Table  ************************************* -->
                                        <div class="row">
                                            <div class="col-md-12 table-responsive">
                                                <table id="product-list" class="table  table-bordered">

                                                    <thead>
                                                        <tr class="bg-blue">
                                                            <th>Sr. No</th>
                                                            <th>Amount</th>
                                                            <th>Date</th>
                                                            <th>Comment</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody >
                                                        <tr ng-repeat="paymentList in paymentData = (paymentDataArray | orderBy: 'submitted_by':true | filter:Search) | start: (currentPage1 - 1) * perPage | limitTo: perPage">
                                                            <td>{{($index + perPage*(currentPage1-1))+1}}</td>
                                                            <td>{{paymentList.add_amount}}</td>
                                                            <td>{{paymentList.payment_recieved_date}}</td>
                                                            <td>{{paymentList.comment}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <uib-pagination total-items="paymentData.length" items-per-page="5" next-text="Next" previous-text="Previous" ng-model="currentPage1" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></uib-pagination>
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>

                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label>Payment Recieved:</label>
                                                <input type="text" class="form-control" ng-value="paymentRecive" disabled>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Remaining Amount:</label>
                                                <input type="text" class="form-control" ng-value="remainingFees"  disabled>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Total: </label>
                                                <input type="text" class="form-control" ng-value="totalFees" disabled>
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <!-- ********************** Payment Table End ************************** -->
                                    <!-- /.box-footer -->
                                </div>
                                <!-- /. box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>

                    <!-- /.box-content -->
                </div>

                <!-- /.row small-spacing -->


                <!-- /.row -->
                <footer id="footer" class="footer">
                    <ul class="list-inline">
                        <li>
                            <script type="text/JavaScript"> document.write(new Date().getFullYear()); </script> © Thakur Sen Negi Government College Online Admission. All rights reserved | Powered by <a href="https://whitecode.co.in" target="_blank">WhiteCode</a>
                        </li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">cookies</a></li>
                        <li><a href="#">Legal Notice</a></li>
                    </ul>
                </footer>
            </div>
            <!-- /.main-content -->
        </div>
        <!--/#wrapper -->
        </div>
        <!-- Check Payment Modal -->
        <!-- ********************** Payment Modal ************************************* -->

        <div class="modal fade" id="checkPayment" tabindex="-1" role="dialog" aria-labelledby="checkPayment">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div style="overflow: visible; background-color: #fff;">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3>Payment History</h3>
                        </div>

                        <div class="modal-body">

                        </div>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger " data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><span class="glyphicon glyphicon-remove-circle"></span> Close</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
    <!-- 
		================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/modernizr.min.js"></script>
    <script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/plugin/nprogress/nprogress.js"></script>
    <script src="assets/plugin/sweet-alert/sweetalert.min.js"></script>
    <script src="assets/plugin/waves/waves.min.js"></script>
    <!-- Sparkline Chart -->
    <script src="assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
    <script src="assets/scripts/chart.sparkline.init.min.js"></script>

    <!-- Flex Datalist -->
    <script src="assets/plugin/flexdatalist/jquery.flexdatalist.min.js"></script>

    <!-- Popover -->
    <script src="assets/plugin/popover/jquery.popSelect.min.js"></script>

    <!-- Select2 -->
    <script src="assets/plugin/select2/js/select2.min.js"></script>

    <!-- Multi Select -->
    <script src="assets/plugin/multiselect/multiselect.min.js"></script>

    <!-- Touch Spin -->
    <script src="assets/plugin/touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Timepicker -->
    <script src="assets/plugin/timepicker/bootstrap-timepicker.min.js"></script>

    <!-- Colorpicker -->
    <script src="assets/plugin/colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <!-- Datepicker -->
    <script src="assets/plugin/datepicker/js/bootstrap-datepicker.min.js"></script>

    <!-- Moment -->
    <script src="assets/plugin/moment/moment.js"></script>

    <!-- DateRangepicker -->
    <script src="assets/plugin/daterangepicker/daterangepicker.js"></script>

    <!-- Maxlength -->
    <script src="assets/plugin/maxlength/bootstrap-maxlength.min.js"></script>

    <!-- Demo Scripts -->
    <script src="assets/scripts/form.demo.min.js"></script>

    <script src="assets/scripts/main.min.js"></script>
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular/ui-bootstrap-tpls-1.0.3.js"></script>
    <!-- toastr -->
    <script src="assets/angular/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="assets/angular/angular-toastr.css" />

    <script src="assets/angular/angularjs/app.js"></script>
    <script src="assets/angular/angularjs/controllers/payment_details.js"></script>

</body>

</html>